@import "tailwindcss";

:root {
    --background: #f2f8fc;
    --foreground: #171717;
    --font-delius: "Delius", cursive;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-delius: var(--font-delius);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #f2f8fc;
    --foreground: #f4f1f8;
  }
} */

body {
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}
